
.hw_popup {
  position: absolute;
  z-index: 2021; /* because youtube header = z-index: 2020; */

  min-width: 200px;
  max-width: 300px;
  min-height: 142px;
  padding: 10px 0;
  box-sizing: border-box;

  display: flex;

  transition: transform 0.5s ease-out;
}

.hw_popup_animated {
  transform: scale(0.01);
  animation: hw_move 0.5s forwards;
  /* transform: translate(1000px, -1000px) scale(0.01); */
}

.hw_popup__container {
  position: relative;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  padding: 23px;
  border-radius: 9px;

  font-family: "Euclid Circular A", serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  word-break: break-word;

  color: var(--font-color);
  background-color: var(--bg-color);
  box-shadow: 0 11px 33px 0 rgba(0,0,0,0.14);

  overflow: hidden;

  box-sizing: border-box;
  min-width: 200px;
  max-width: 216px;
  min-height: 142px;
  /*max-height: 150px;*/
  /*pointer-events: none;*/
}

.hw_popup__header {
  display: flex;
  align-items: center;
}

.hw_popup__button-add {
  width: 35px;
  height: 35px;
  border-top-left-radius: 35px;

  color: var(--font-color-dark-theme);
  background: var(--main-color);

  text-align: center;
  cursor: pointer;

  position: absolute;
  right: 0;
  bottom: 0;
}

.hw_popup__button-add:before {
  content: '+';
  font-size: 24px;
  width: 24px;
  height: 24px;

  position: absolute;
  right: 2px;
  bottom: 2px;
}

.hw_popup__main-word {
  margin: 18px 0;
  font-size: 26px;
  font-weight: 500;
  white-space: normal;
  text-transform: lowercase;
}

.hw_popup__transcription, .popup__translation {
  opacity: 0.5;
}

.hw_popup__translation {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-y: scroll;
  padding: 0 10px;
}
.hw_popup__translation::-webkit-scrollbar {
  display: none;
}

.hw_popup__empty-title {
  font-size: 16px;

  margin-top: 12px;
}

.hw_popup__empty-description {
  font-size: 14px;
  color: #807E87;

  margin-top: 6px;
}

.hw_icon__loading {
  position: relative;
  width: 26px;
  height: 26px;
  background: linear-gradient(60deg, #ff43a5 0%, #ff9358 100%);
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;

  transition: all 0.5s ease-in;
  animation-name: hw_rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hw_popup__icon {
  color: var(--link-color);
}
.hw_popup__icon:hover {
  color: var(--font-color);
}
.hw_popup__icon-sound {
  cursor: pointer;
  margin-right: 5px;
}

.hw_icon__loading:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
}
.hw_icon__loading:after {
  content: "";
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 50%;
  top: 2px;
  left: 2px;
}

.hw_icon__loading:before, .hw_icon__loading:after {
  background: var(--bg-color);
}

@keyframes hw_rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes hw_move {
  to {
    top: 0;
    left: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .hw_popup__container {
    color: var(--font-color-dark-theme);
    background-color: var(--bg-color-dark-theme);
  }
  .hw_popup__container:after {
    border-color: var(--bg-color-dark-theme) transparent transparent transparent;
  }
  .hw_icon__loading:before, .hw_icon__loading:after {
    background: var(--bg-color-dark-theme);
  }
  .hw_popup__icon:hover {
    color: var(--font-color-dark-theme);
  }
}
