:root {
  --main-color: linear-gradient(158.56deg, #FF43A5 10.89%, #FF9358 112.55%);
  --second-color: #FF7279;
  --hover-color: #FF43A5;
  --bg-color: #fff;
  --bg-color-dark-theme: #393644;
  --word-color-hover: #FF9358;
  --font-color: #000000;
  --font-color-dark-theme: #ffffff;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: "Euclid Circular A", serif;
  font-size: 22px;
  line-height: 36px;
}

main {
  flex: 1;
}

footer {
  display: flex;
}

h1 {
  font-size: 72px;
  line-height: 80px;
}

h2 {
  font-size: 48px;
  line-height: 56px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
  position: relative;

  width: 100%;
  height: 100%;
}

.container {
  max-width: 1022px;
  padding: 96px 0;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}

.header__logo {
  width: 45px;
  height: 45px;
}

.header__logo_img {
  width: 100%;
  height: 100%;
}

.header__title {
  margin-left: 10px;
  font-size: 30px;
  font-weight: 500;

  text-decoration: none;
  color: black;
}

.image {
  object-fit: cover;
  box-sizing: border-box;
}

.button {
  border: none;
  outline: none;
  text-decoration: none;
  background-color: transparent;

  width: 100%;
  max-width: 300px;
  height: 64px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;

  border-radius: 82px;
}

.button + .button {
  margin-left: 50px;
}

.button__primary {
  transition: opacity 0.2s;
  background-image: var(--main-color);
  color: var(--bg-color);
}
.button__primary:hover {
  background-color: var(--bg-color);
  opacity: 0.85;
}

.button__secondary {
  color: var(--second-color);
  background-color: white;
  font-size: 22px;
  justify-content: left;
}
.button__secondary:hover {
  color: var(--hover-color);
}

.nav {
  margin-top: 17px;
}

.nav-main {
  margin: 135px 0 195px 0;
}

.nav-first {
  margin-top: 36px;
}

.nav__title {
  text-align: center;
  margin-bottom: 68px;
}
.nav__links {
  display: flex;
}

.footer__item {
  min-width: 300px;
  font-size: 16px;
}
.footer__item + .footer__item {
  margin-left: 75px;
}
.footer_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 14px;
}
.footer__link {
  display: block;
  text-decoration: none;
  font-weight: normal;
  color: black;
}

.footer__link + .footer__link {
  margin-top: 14px;
}

.section__content {
  margin-bottom: 50px;
}

.section__image {
  position: relative;
}

.caption {
  position: absolute;
  bottom: 69px;
  left: 50%;
  transform: translate(-50%);

  width: 500px;

  text-align: center;
  color: white;
  background-color: black;
}
.caption__item {
  cursor: pointer;
}
.caption__item:hover, .caption__item-selected {
  background: var(--word-color-hover);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  #root {
    min-width: 1220px;
  }
}
